apiclient==1.0.3
docutils==0.14
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
httplib2==0.10.3
logutils==0.3.5
oauth2client==4.1.2
PyMySQL==0.7.11
python-dateutil==2.6.1
rainbow-logging-handler==2.2.2
requests==2.18.3
SQLAlchemy==1.1.13
uritemplate==3.0.0
urllib3==1.22
utility==1.0
virtualenv==15.1.0
Werkzeug==0.15.3
WTForms==2.1
